$primary-color: #ff6060;
$font-stack: "Montserrat", Arial, sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
$base-text-color: #000;

$title-font-size: 18px;
$title-font-weight: 700;
$title-color: #fff;

$nav-link-font-size: 24px;
$nav-link-font-weight: 500;

$banner-font-size: 48px;
$banner-font-weight: 700;

$footer-font-size: 24px;
$footer-font-weight: 500;
$footer-background-color: #000;
