$primary-color: #ff6060;
$font-stack: "Montserrat", Arial, sans-serif;

$base-font-size: 1rem;

$secondary-font-size: 1.5rem;
$tertiary-font-size: 2rem;
$huge-font-size: 2.7rem;

$base-font-weight: 400;
$secondary-font-weight: 500;
$tertiary-font-weight: 700;

$base-text-color: #000;
$secondary-text-color: #fff;
$footer-background-color: #000;
