$primary-color: #ff6060;
$font-stack: "Montserrat", Arial, sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
$base-text-color: #000;

$secondary-font-size: 24px;
$secondary-font-weight: 500;
$secondary-text-color: #fff;

$tertiary-font-weight: 700;

$banner-font-size: 48px;

$location-header-h2-font-size: 36px;

$footer-background-color: #000;

$base-mobile-font-size: 12px;
