@import "../utils/variables.scss";
.pageLocation {
  grid-area: content;
  display: flex;
  flex-direction: column;
  .description {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @media only screen and (max-width: 878px) {
      flex-direction: column;
      padding: 20px 0;
    }
    .right {
      @media only screen and (max-width: 878px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
      }
    }
  }
}
