@import "../utils/variables.scss";
.pageLocation {
  grid-area: content;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .description {
    display: flex;
    justify-content: space-between;
    padding: 1.7em 0;
    @media only screen and (max-width: 878px) {
      flex-direction: column;
    }
    .right {
      @media only screen and (max-width: 878px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 1.1em;
      }
    }
  }
}
