@import "../utils/variables.scss";
.banner {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: fill;
  }
  p {
    position: relative;
    z-index: 3;
    top: -50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: $banner-font-size;
    font-weight: $banner-font-weight;
    color: $banner-text-color;
  }
}
