@import "../utils/variables.scss";
.banner {
  max-height: 415px;
  width: 100%;
  height: auto;

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: fill;
  }
  p {
    position: absolute;
    z-index: 3;
    font-size: $banner-font-size;
    font-weight: $tertiary-font-weight;
    color: $secondary-text-color;
  }
}
