@import "../utils/variables.scss";
.caroussel {
  grid-area: caroussel;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
  }
  div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      position: absolute;

      transform: translate(-50%, -50%);
      svg {
        width: 70px;
        cursor: pointer;
        font-size: $base-font-size;
        font-weight: $secondary-font-weight;
      }
      path {
        fill: #fff;
      }
    }
    .disabled {
      display: none;
    }
    .leftArrow {
      top: 50%;
      left: 50px;
    }
    .numPages {
      bottom: 2%;
      margin-right: -100px;
    }
    .rightArrow {
      top: 50%;
      right: -27px;
    }
  }
}
