@import "../utils/variables.scss";
.dropDownItem {
  h4 {
    width: 100%;
    background-color: $primary-color;
    color: $secondary-text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;

    svg {
      width: 24px;
      height: 24px;
      path {
        width: 100%;
        height: 100%;
        fill: $secondary-text-color;
      }
    }
  }
}
