@import "../utils/variables.scss";
.itemsListLocation {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(auto-fit, min-content);
  justify-content: center;
  align-content: center;
  grid-gap: 40px;
  margin-top: 70px;
}
.dropDowns {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  list-style: none;
  transition: all 0.6s;
}

.locationDropDowns {
  grid-area: dropDownItem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 76px;
  @media only screen and (max-width: 878px) {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}

.tags {
  grid-area: tags;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}
