@import "../utils/variables.scss";
.itemsListLocation {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.dropDowns {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.locationDropDowns {
  grid-area: dropDownItem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 76px;
}

.tags {
  grid-area: tags;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}
