@import "../utils/variables.scss";

.locationHeader {
  grid-area: locationHeader;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-height: 120px;
  height: auto;
  padding-bottom: 0.78em;
  h2 {
    color: $primary-color;
    font-size: $tertiary-font-size;
    font-weight: $secondary-font-weight;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.33em;
    font-weight: $secondary-font-weight;
    @media only screen and (max-width: 878px) {
      font-size: 1.2rem;
    }
  }
}
