@import "../utils/variables.scss";
.container {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
  p {
    width: 70%;
    z-index: 2;
    position: relative;
    bottom: 60px;
    left: 20px;
    color: $secondary-text-color;
    font-size: $base-font-size;
    font-weight: $tertiary-font-weight;
  }
}
