@import "../utils/variables.scss";
.container {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
  p {
    z-index: 2;
    position: relative;
    bottom: 80px;
    left: 20px;
    color: $location-item-text-color;
    font-size: $location-item-font-size;
    font-weight: $location-item-font-weight;
  }
}
