@import "../utils/variables.scss";
.nav {
  width: auto;
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1.2em;
    a {
      font-size: $secondary-font-size;
      font-weight: $secondary-font-weight;
      color: $base-text-color;
      text-decoration: none;
      &[aria-current="page"] {
        text-decoration: underline;
        text-underline-offset: 5px;
      }
      @media screen and (max-width: 978px) {
        font-size: 1.4rem;
        text-transform: uppercase;
      }
      @media screen and (max-width: 878px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 778px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 678px) {
        font-size: 1rem;
      }
    }
  }
}
