@import "../utils/variables.scss";
.nav {
  width: 200px;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    a {
      font-size: $secondary-font-size;
      font-weight: $secondary-font-weight;
      color: $base-text-color;
      text-decoration: none;
    }
  }
}
