@import "../utils/variables.scss";
.tag {
  min-width: 110px;
  width: max-content;
  text-align: center;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 0.29em 1.43em;
  color: $secondary-text-color;
  font-size: 0.8rem;
  font-weight: $tertiary-font-weight;

  @media only screen and (max-width: 878px) {
    min-width: 84px;
  }
}
